<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

                <div class="form-group">
                    <label for="bookTextField">Title: </label>
                    <strong><%= Title.Title %></strong>
                </div>
                <div class="form-group">
                    <label for="bookTextField">Description: </label>
                    <strong><%= Title.Description %></strong>
                </div>
                <div class="form-group">
                    <label for="statusTextField">Price: </label>
                    <strong>$<%= Title.Price %></strong>                    
                </div>
                <div class="form-group">
                    <label for="bookTextField">Author: </label>
                    <strong><%= Title.Author %></strong>
                </div>
                <div class="form-group">
                    <label for="bookTextField">Genre: </label>
                    <strong><%= Title.Genre %></strong>
                </div>
                <br />
                
                <a href="/book/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>